{% extends 'base.html'%}
{% block content %}
<div class="cart" style="padding-left:50px ;padding-top: 50px; ;">     
  
<h3>
<p><strong>id: </strong>{{record.id}} </p>
<p><strong>Full Name: </strong>{{record.first_name|capfirst}} {{record.last_name}} </p>
<p><strong>phone: </strong>{{record.phone}} </p>
<p><strong>category:  </strong>{{record.category}} </p>
<p><strong>address: </strong></strong>{{record.address}} </p>
<p><strong>tall: </strong>{{record.tall}} </p>
<p><strong>weight:  </strong>{{record.weight}} </p>>
<p><strong>creation date:  </strong>{{record.created_at}} </p>
</h3>
<br>

<a herf ="{% url 'update_record' record.id %}" class="btn btn-outline-dark">Update Record <i class="fa fa-wrench" aria-hidden="true"></i></a>
<a herf ="{% url 'delete_record' record.id %}" onclick="return confirm('are you sure you want Delete!')" class="btn btn-outline-danger">Delete Record <i class="fa fa-trash-o" aria-hidden="true"></i></a>
</div>
{% endblock %}